<h3>Demo 10 - Les custom directives</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, fugiat nihil. Quo dolore earum odit laboriosam iure perspiciatis inventore optio labore id alias maxime quae ullam, odio, necessitatibus asperiores. Est?
</p>

<p appPrepareRender>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, fugiat nihil. Quo dolore earum odit laboriosam iure perspiciatis inventore optio labore id alias maxime quae ullam, odio, necessitatibus asperiores. Est?
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, fugiat nihil. Quo dolore earum odit laboriosam iure perspiciatis inventore optio labore id alias maxime quae ullam, odio, necessitatibus asperiores. Est?
</p>

<h4>Directive d'attributs customs sur des events</h4>
<p [appHighlight]="color" otherColor="blue">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo delectus eos cupiditate autem corrupti! Maiores distinctio quasi optio quo, vel illo sit, quaerat voluptate rerum voluptas laboriosam maxime exercitationem quam.
</p>

<p appHighlight="orange">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat fuga iure pariatur ratione animi dolores ab quo, qui porro saepe ullam id ipsum reiciendis fugiat ex reprehenderit impedit cum.
</p>