<h3>Demo 22 - Interceptor</h3>

<p>
    L'interceptor est une fonctionnalité qui permet de capturer et de traiter les requêtes HTTP avant qu'elles ne soient envoyées au serveur ou les réponses HTTP avant qu'elles ne soient traitées par l'application.
</p>

<p>
    Un interceptor peut être utilisé pour effectuer des opérations communes à plusieurs requêtes ou réponses, telles que l'ajout d'en-tête, la gestion des erreurs, la manipulation des données, l'authentification, etc...
    Il peut être considéré comme un middleware pour les requêtes et les réponses HTTP.
</p>