<h3>Demo 13 - Cycle de vie des composants</h3>

<p>
    Les hooks sont des méthodes d'un composant qui sont appelées automatiquement par le framework à des moments spécifiques de son cycle de vie.
</p>

<p>
    Les hooks sont des méthodes qui portent un nom spécifique, préfixées par le mot-clefs "ng", suivi d'un nom qui indique l'étape du cycle de vie.
</p>

<ul>
    <li>ngOnChanges</li>
    <li>ngOnInit ✅</li>
    <li>ngOnDoCheck</li>
    <li>ngOnAfterContentInit</li>
    <li>ngOnAfterContentChecked</li>
    <li>ngOnAfterViewInit</li>
    <li>ngOnAfterViewChecked</li>
    <li>ngOnDestroy ✅</li>
</ul>