<h3>Demo 01 - Property Binding (One-Way Binding)</h3>

<p>Permet d'afficher le contenu d'une propriété directement dans le template HTML.</p>

<p>Affichage d'une variable entre une paire de double accolades.</p>

<p>Unidirectionnel => TS vers HTML</p>

<hr>

<p>Valeur de maVariable1 (string) : {{ maVariable1 }} </p>
<p>Valeur de maVariable2 (number) : {{ maVariable2 }} </p>
<p>Valeur de maVariable3 (boolean) : {{ maVariable3 }} </p>
<p>Valeur de maVariable4 (string) : {{ maVariable4 }} </p>
<p>Valeur de maVariable5 (null) : {{ maVariable5 }} </p>
<p>Valeur de maVariable6 (undefined) : {{ maVariable6 }} </p>
<p>Valeur de maVariable7 (any[]) : {{ maVariable7 }} </p>
<p>Valeur de maVariable8 ([string, number]) : {{ maVariable8 }} </p>
